body{
    display: flex;
    flex-direction: column;
    background-color: #003366;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    width: 50%;
    height: 100%;
    color: whitesmoke;
}

a{
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}