body{
    display: flex;
    flex-direction: column;
    background-color: #003366;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    width: 50%;
    height: 100%;
    color: whitesmoke;
}

a{
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

button{
    margin-bottom: 10px;
    background-color: #FF6B00;
    color: whitesmoke;
    height: 40px;
    width: 100%;
    border-style: none;
    border-radius: 25px;
    font-weight:540;
    font-size: medium;
}

/* button:hover{
    background-color: whitesmoke;
    color: orange;
} */

/* a:hover{
    color: orange;
    background-color: whitesmoke; 
} */